<!--
	 This component will display a picture with a style given as a prop.
	 This picture is clickable - clicking on it will display it at the
	 front with its description (alt)
-->

<template>
	<NuxtImg :src="props.imageUrl" :alt="props.imageAlt" :style="props.imageStyle" class="hover-effect"
		@click="enterPreview" @keydown.enter="enterPreview" style="position: relative; cursor: pointer; z-index: 3" />

	<div class="dim-screen" v-if="pictureClicked" @mousedown.self="quitPreview">
		<img v-show="imageLoaded" @load="imageLoaded = true" :src="props.imageUrl" :alt="props.imageAlt"
			class="focused-image" />
		<NuxtImg v-show="!imageLoaded" src="/icons/loading.webp" alt="Loading..." class="loading-icon" />
		<div class="focused-alt text-slate-100">{{ props.imageAlt }}</div>
	</div>
</template>

<script setup lang="ts">
type Props = {
	imageUrl: string; // full imagen (when clicked)
	imageAlt: string; // description
	imageStyle: object; // css of image thumbnail
};
const props = defineProps<Props>();

const pictureClicked = ref(false);
function enterPreview() {
	pictureClicked.value = true;
}

function quitPreview() {
	pictureClicked.value = false;
}

const imageLoaded = ref(false); // is raw image fully loaded

const handleKeydown = (event: KeyboardEvent) => {
	if (event.key === 'Escape') {
		quitPreview();
	}
};

onMounted(() => {
	window.addEventListener('keydown', handleKeydown);
});

// Remove event listener on component unmount
onUnmounted(() => {
	window.removeEventListener('keydown', handleKeydown);
});
</script>

<style scoped>
/* Div that make the background darker */
.dim-screen {
	/* to make screen darker */
	background-color: rgba(0, 0, 0, 0.6);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	/* centering child elements vertically and horizontally */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	/* to make cursor clickable */
	cursor: pointer;
	/* to prevent some elems to be over dim screen */
	z-index: 100;
}

/* to make cursor not clickable on focused element */
.dim-screen * {
	cursor: default;
}

/* animation to make picture and alt appear smoothly */
@keyframes pop-in-center-image {
	0% {
		max-width: 0px;
		max-height: 0px;
	}

	100% {
		max-width: 80vw;
		max-height: 80vh;
	}
}

@keyframes pop-in-center-alt {
	0% {
		font-size: 0em;
	}

	100% {
		font-size: 1.5em;
	}
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.focused-image {
	animation-name: pop-in-center-image;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	/* to see non clickable areas of transparent pictures */
	background-color: rgba(0, 0, 0, 0.5);
}

.focused-alt {
	margin-top: 20px;
	text-align: center;
	animation-name: pop-in-center-alt;
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-delay: 0.1s;
	max-width: 60vw;
}

/* changing css smoothly on hover */
.hover-effect {
	transition:
		border-color 200ms,
		filter 200ms;
}

.hover-effect:hover {
	border-color: #559BD9 !important;
	/* remove for other projects */
	filter: brightness(80%);
}

.hovered {
	animation-name: hover-animation-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.not-hovered {
	animation-name: hover-animation-out;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}

.loading-icon {
	animation-name: rotate-animation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
</style>
