<template>
	<ClickableImage :imageStyle="{
		'border-radius': '100%',
		'border-color': '#ccc'
	}" :imageAlt="store.isMartin
		? 'Martin Lefevre'
		: 'A cute LLVM dragon holding an executable file'
		" :imageUrl="store.isMartin ? martinImg : bebelImg" />

	<!-- To prefetch other image -->
	<img ref="hiddenImage" class='hidden' src='' alt=''>
</template>

<script setup lang="ts">
import { useGlobalStore } from "@/stores/global";

const store = useGlobalStore();

const martinImg = "/images/martin-no-bg.webp";
const bebelImg = "/images/transparent-lineless.webp";

// start lazy load on mounted
const hiddenImage = ref();
onMounted(() => {
	if (hiddenImage.value) {
		hiddenImage.value.src = (store.isMartin ? bebelImg : martinImg);
	}
});
</script>

<style scoped></style>
