<template>
	<Transition>
		<div
			ref="target"
			:key="Number(entered)"
			style="position: relative"
			:class="{
				'v-enter-from': !entered,
			}"
		>
			<slot></slot>
		</div>
	</Transition>
</template>

<script setup lang="ts">
import { useElementVisibility } from "@vueuse/core";

const target = ref(null);
const isVisible = useElementVisibility(target);
const entered = ref(false);

watchEffect(() => {
	entered.value = isVisible.value || entered.value;
});
</script>

<style scoped>
.v-enter-from {
	right: -200px;
}

.v-enter-to {
	right: 0px;
}

.v-enter-active {
	transition: right 1s ease;
}
</style>
