<!-- Takes a condition as a prop.
	 If condition is true, it
	 renders the slots in reverse order. -->

<template>
	<template v-if="props.condition">
		<slot name="arg1"></slot>
		<slot name="arg2"></slot>
	</template>
	<template v-else>
		<slot name="arg2"></slot>
		<slot name="arg1"></slot>
	</template>
</template>

<script setup lang="ts">
type Props = {
	condition: boolean;
};

const props = defineProps<Props>();
</script>

<style scoped></style>
