<template>
	<div class='flex items-center justify-center gap-3 md:gap-5'>
		<NuxtImg height="50" width="50" class='rounded-full' :src="imgIcon" :alt="imgAlt" />
		<b>About me</b>
	</div>
</template>

<script setup lang="ts">
const bebelIcon = "/icons/dot.webp";
const martinIcon = "/icons/martin.webp";

import { useGlobalStore } from "@/stores/global";

const store = useGlobalStore();

const imgIcon = computed(() => store.isMartin ? martinIcon : bebelIcon);
const imgAlt = computed(() => store.isMartin ? "Martin's face icon to return to home" : "BeBel42 icon to return home");
</script>

<style scoped>
</style>
