<script setup lang="ts">
const route = useRoute();

const currentRouteName = computed(() => route.name?.toString().toLowerCase() ?? "");

// returns true if
const isOnRoute = (routeName: string) => currentRouteName.value === routeName;

const isOver = ref(false);

const { y: scrollY } = useWindowScroll();
</script>

<template>
	<div class="top-0 z-10 w-full transition duration-400 bg-slate-100 md:fixed py-6 md:py-5 px-10"
		:class="{ 'md:bg-transparent': scrollY == 0 }" @mouseover="isOver = true" @mouseleave="isOver = false">
		<div class="flex flex-col gap-6 md:gap-0 md:flex-row justify-between items-center">
			<nav>
				<NavButton to="/" :isFocused="isOnRoute('index')">
					<MenuIcon />
				</NavButton>
			</nav>
			<nav class='flex gap-10'>
				<NavButton :isFocused="isOnRoute('contact')" to="/contact">
					Contact
				</NavButton>
				<NavButton :isFocused="isOnRoute('education')" to="/education">
					Education
				</NavButton>
				<NavButton :isFocused="isOnRoute('projects')" to="/projects">
					Projects
				</NavButton>
			</nav>
		</div>
	</div>
</template>

<style scoped></style>
