<!-- html nav links for other contact sites -->

<template>
	<NavBar>
		<template #1-index>
			<MenuIcon />
		</template>
		<template #2-education>
			<NavButton to="/education">
				Education
			</NavButton>
		</template>
		<template #2-projects>
			<NavButton to="/projects">
				Projects
			</NavButton>
		</template>

		<!-- <template #2-email>
			<ClientOnly>
				<SoftButton to="mailto:contat@mlefevre.xyz" :external="true" style="font-size: small">
					<div class="links">
						<NuxtImg height="18" src="/icons/email.webp" alt="Email Icon" />
						Email
					</div>
				</SoftButton>
			</ClientOnly>
		</template>
		<template #2-resume>
			<SoftButton to="https://rxresu.me/mlefevre/software-developer-en" :external="true" style="font-size: small">
				<div class="links">
					<NuxtImg height="18" src="/icons/resume.webp" alt="Resume Icon" />
					Resume
				</div>
			</SoftButton>
		</template>
		<template #2-discord>
			<SoftButton to="https://discordapp.com/users/559809800221884437" style="font-size: small">
				<div class="links">
					<NuxtImg height="18" src="/icons/discord.webp" alt="Discord Icon" />
					Discord
				</div>
			</SoftButton>
		</template>
		<template #2-linkedin>
			<SoftButton to="https://www.linkedin.com/in/lefevre-martin/" style="font-size: small">
				<div class="links">
					<NuxtImg height="18" src="/icons/linkedin.webp" alt="LinkedIn Icon" />
					LinkedIn
				</div>
			</SoftButton>
		</template>
		<template #2-gitlab>
			<SoftButton to="https://gitlab.com/BeBel42" style="font-size: small">
				<div class="links">
					<NuxtImg height="18" src="/icons/gitlab.webp" alt="Gitlab Icon" />
					GitLab
				</div>
			</SoftButton>
		</template> -->
	</NavBar>
</template>

<script setup lang="ts"></script>

<style scoped>
</style>
