<script setup lang="ts">
import type { NuxtError } from "#app";

type Props = {
	error: NuxtError,
};

const props = defineProps<Props>();

const handleError = () => clearError({ redirect: "/" });

type httpDragonsResponse = {
	"http_message": string,
	"author_name": string,
	"author_url": string,
	"description": string,
	"image_url": string,
	"http_dragons_image_url": string,
	"code": number
};

let errorJson = ref({} as httpDragonsResponse);
onMounted(async () => {
	const { data } = await useFetch(
		`https://httpdragons.com/${props.error.statusCode}.json`,
	);
	errorJson.value = data.value as httpDragonsResponse;
});
</script>

<template>
	<Scaffold>
		<div class='flex flex-col items-center justify-center gap-10'>
			<h1
				class='flex text-3xl font-bold justify-center gap-20 bg-slate-100 shadow-lg md:px-40 px-20 py-20 w-full sm:rounded-2xl md:w-fit flex-col-reverse md:flex-row'>
				<NuxtLink :to="errorJson.http_dragons_image_url" external>
					<NuxtImg alt="HTTP Error image from httpdragons.com"
						:src="`https://httpdragons.com/${error.statusCode}.png?h=400`" height="400" />
				</NuxtLink>
				<div class='flex flex-col items-start justify-center gap-4'>
					<span class='text-indigo-500 text-5xl'>{{ error.statusCode }}</span>
					<span>{{ errorJson.http_message }}</span>
				</div>
			</h1>

			<div class='text-lg px-4 text-center'>This is not the page you are looking for...</div>
			<div @click="handleError"
				class='bg-slate-100 py-4 px-8 rounded-3xl shadow-lg hover:shadow-xl active:shadow transition cursor-pointer hover:bg-slate-100/75 border-2 border-indigo-100/50 hover:border-indigo-100'>
				Return Home
			</div>
		</div>
	</Scaffold>
</template>

<style scoped></style>
