<script setup lang='ts'>
type Props = {
	to: string | null; // swap Bebel <-> Martin if null
	content: string;
	external: boolean;
	imageUrl: string;
};
const props = defineProps<Props>();

const store = useGlobalStore();

const swapProfile = (e: PointerEvent) => {
	if (props.to) return;
	e.preventDefault();
	store.isMartin = !store.isMartin;
}
</script>

<template>
	<NuxtLink @click="swapProfile" :to="props.to ?? '#'" :external="props.external"
		class='button w-full h-full overflow-hidden relative font-bold !bg-slate-100 p-10 rounded-4xl transition-all duration-500 shadow-xl hover:shadow-2xl active:shadow-lg flex gap-4 items-start justify-start'
		:style="{ background: `url(${props.imageUrl}) no-repeat` }">
		<div class='z-20 text-2xl'>
			<span class='content z-20'>{{ props.content }}</span>
		</div>
	</NuxtLink>
</template>


<style scoped>
.button {
	background-size: auto 75% !important;
	background-position: calc(100% - 20px) calc(100% - 10px) !important;
}

.button .content::after {
	content: "";
}

.button:hover .content::after {
	content: ".";
}

.button:hover {
	transform: scale(1.05);
}
</style>
