<script setup lang='ts'>
type Props = {
	to: string;
	content: string;
	icon: string;
	iconColor: string;
	backgroundUrl: string;
	borderColor: string;
};
const props = defineProps<Props>();

</script>

<template>
	<div class='border-2 [&:not(:hover)]:border-transparent rounded-4xl' :class="props.borderColor">
		<NuxtLink :to="props.to" external :style="{ background: `url(${props.backgroundUrl}) no-repeat` }"
			class='button overflow-hidden relative font-bold !bg-slate-100 p-20 rounded-4xl transition-all duration-400 shadow-xl hover:shadow-2xl active:shadow-lg flex gap-4 items-center justify-center'>
			<div class='z-20 text-3xl flex gap-4 items-center justify-center'>
				<Icon :class="iconColor" :name="props.icon" />
				<span class='z-20'>{{ props.content }}</span>
			</div>
			<div class='triangle'></div>
		</NuxtLink>
	</div>
</template>


<style scoped>
.button {
	background-size: auto 200% !important;
	background-position: 0% 0% !important;
}

/* To make background img a bit darker */
.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.05);
}

.triangle {
	width: 0;
	height: 0;
	border-top: calc(200vh) solid #f1f5f9;
	border-left: calc(200vw) solid transparent;
	position: absolute;
	bottom: calc(-100vh + min(100px, 10vh));
	left: calc(-100vw + min(100px, 10vw));
	transition: all 0.5s ease-out;
	z-index: 0;
}

.button:hover .triangle,
.button:focus .triangle,
.button:active .triangle {
	bottom: calc(-100vh + min(150px, 15vh));
	left: calc(-100vw + min(150px, 15vw));
}
</style>
