<template>
	<NuxtLink :to="props.to">
		<NuxtImg height="18" :src="linkImg" alt="image of a chain link" />
	</NuxtLink>
</template>

<script setup lang="ts">
const linkImg = "/icons/link.svg";

const props = defineProps<{
	to: string;
}>();
</script>

<style scoped>
img {
	height: 1em;

	/* filter: invert(1); */
	filter: brightness(0) saturate(100%) invert(60%) sepia(30%) saturate(900%) hue-rotate(180deg);

	opacity: 1;
	transition: opacity 150ms;
	cursor: pointer;
	display: inline;
}

img:hover {
	opacity: 0.7;
}
</style>
