<template>
	<div class='text-2xl
				cursor-pointer
				underline-offset-6
				decoration-indigo-300
				hover:decoration-indigo-400
				active:decoration-indigo-300
				transition
				duration-200
				hover:underline
				text-red-400
				' :class="{
					'underline': props.isFocused
				}">
		<NuxtLink :to="props.to" :external="props.external">
			<slot></slot>
		</NuxtLink>
	</div>
</template>

<script setup lang="ts">
type Props = {
	external?: boolean;
	to: string;
	isFocused: boolean;
};
const props = withDefaults(defineProps<Props>(), {
	external: false,
});
</script>

<style scoped>
/* to avoid link changing color after click */
a {
	color: #5079a9 !important;
}
</style>
