<script setup lang="ts">
const props = defineProps<{
	to: string;
}>();
</script>

<template>
	<button class='font-bold text-lg'>
		<div class='btn-smooth'>
			<NuxtLink :to="props.to" external>
				<slot></slot>
			</NuxtLink>
		</div>
	</button>
</template>

<style scoped>
/* Basic styling for the text */
.btn-smooth {
	text-decoration: none;
	/* Remove default underline */
	position: relative;
	/* Create a positioning context for the pseudo-element */
}

/* Add the underline effect with smooth transition on hover */
.btn-smooth::after {
	content: '';
	/* Create an empty pseudo-element */
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	/* Thickness of the underline */
	background-color: #559BD9;
	/* Color of the underline */
	transform: scaleX(0);
	/* Initially set the underline to 0 width */
	transform-origin: bottom left;
	/* Start from the right */
	transition: transform 0.3s ease;
	/* Smooth transition for the underline */
}

/* On hover, reveal the underline */
.btn-smooth:hover::after {
	transform: scaleX(1);
	/* Expand the underline to full width */
	transform-origin: bottom left;
	/* Change the start point to left */
}
</style>
