<script setup lang="ts">
import Position from "../Position";

// to know this page's route
const route = useRoute();

type Props = {
	textPosition: Position;
	title: string;
	imageUrl: string;
	imageAlt: string;
};
const props = defineProps<Props>();

const isRight = computed(() => props.textPosition === Position.Right);

let windowWidth = ref(0);
const onWidthChange = () => (windowWidth.value = window.innerWidth);
onMounted(() => {
	windowWidth.value = window.innerWidth;
	window.addEventListener("resize", onWidthChange);
});
onUnmounted(() => window.removeEventListener("resize", onWidthChange));



// style for thumbnail of paragraph
// style if aligned left
const imageStyle = computed(() => {
	const s = {
		"border-style": "solid",
		"border-width": "2px",
		"border-color": "#ccc",
		// float: "right",
		clear: "right",
		"border-radius": "5px",
	};
	return s;
});

const thisId = computed(() => props.title.toLowerCase());

// change paragraph decoration logic for phones
const shouldUnderlineRight = computed(() => windowWidth.value < 1024 || isRight.value);
const shouldUnderlineLeft = computed(() => !shouldUnderlineRight.value);
const shouldSwapLinkBtn = computed(() => shouldUnderlineRight.value);
</script>

<template>
	<div :class="{
		main: true,
	}">
		<!-- To make smooth scroll show it at middle of page -->
		<div :id="thisId" style="position: absolute; top: -250px; background-color: transparent"></div>
		<div class='flex gap-2 title' :class="{
			'underline-right': shouldUnderlineRight,
			'underline-left': shouldUnderlineLeft,
		}">
			<div class='w-full flex gap-2 mb-2 items-end'
				:class="{ 'lg:justify-end': !isRight, 'lg:justify-start': isRight }">
				<SwapIf :condition="shouldSwapLinkBtn">
					<template #arg1>
						<span class='mb-1'>
							<LinkButton :to="`${route.path}#${thisId}`" />
						</span>
					</template>
					<template #arg2>
						<span class="mx-2 text-2xl font-bold">{{ title }}</span>
					</template>
				</SwapIf>
			</div>
		</div>
		<FadeOpacity>
			<div class='flex gap-10 flex-col xl:flex-row' :class="{ 'flex-col-reverse': !isRight }">
				<SwapIf :condition="isRight">
					<template #arg1>
						<div class='xl:min-w-xl xl:max-w-2xl'>
							<template v-if="isRight">
								<FadeLeft>
									<ClickableImage :imageUrl="props.imageUrl" :imageAlt="props.imageAlt"
										:imageStyle="imageStyle" />
								</FadeLeft>
							</template>
							<template v-else>
								<FadeRight>
									<ClickableImage :imageUrl="props.imageUrl" :imageAlt="props.imageAlt"
										:imageStyle="imageStyle" />
								</FadeRight>
							</template>
						</div>
					</template>
					<template #arg2>
						<div class='md:text-xl min-w-20'>
							<template v-if="!isRight">
								<FadeLeft>
									<div class='bg-slate-100 p-10 rounded-xl shadow-lg'>
										<slot name="content"></slot>
									</div>
								</FadeLeft>
							</template>
							<template v-else>
								<FadeRight>
									<div class='bg-slate-100 p-10 rounded-xl shadow-lg'>
										<slot name="content"></slot>
									</div>
								</FadeRight>
							</template>
						</div>
					</template>
				</SwapIf>
			</div>
		</FadeOpacity>

	</div>
</template>

<style scoped>
/* css of parent div */
.main {
	display: inline-block;
	position: relative;
}

/* paragraph title */
.title {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 25px;
}

/* stylish title underline */
.underline-right {
	border-bottom: 2px solid;
	border-image: linear-gradient(to right,
			#559BD9FF 0%,
			#559BD900 max(50%, 250px)) 30;
}

.underline-left {
	border-bottom: 2px solid;
	border-image: linear-gradient(to left,
			#559BD9FF 0%,
			#559BD900 max(50%, 250px)) 30;
}
</style>
