<script setup lang="ts">
const imgSrc = {
	rainbowfy:
		"https://gitlab.com/uploads/-/system/project/avatar/37552497/rainbow-squares-lena-kouneva.jpeg?width=64",
	readySetBoole:
		"https://gitlab.com/uploads/-/system/project/avatar/47088861/algebra.png?width=48",
	k69s: "https://gitlab.com/uploads/-/system/group/avatar/71027654/docker-dead.png?width=64",
	mlefevre: 'https://gitlab.com/uploads/-/system/project/avatar/45574457/transparent-lineless-small.png?width=64',
	redTetris: 'https://gitlab.com/uploads/-/system/project/avatar/44339190/red-tetris.png?width=64',
	nPuzzle: 'https://gitlab.com/uploads/-/system/project/avatar/46221098/logo-n.png?width=64',
};

// to know this page's route
const route = useRoute();
</script>

<template>

	<div class='mt-20'> <PlainBackground>
		<FadeOpacity>
			<div class='flex gap-2 mb-2 items-end justify-center text-2xl font-bold'>
				<span class='mb-1'>
					<LinkButton :to="`${route.path}#other-projects`" />
				</span>
				<span>Other Projects</span>
			</div>
			<div class="underline mb-10"></div>
			<!-- To make smooth scroll show it at middle of page -->
			<div id="other-projects" style="position: relative; top: -250px; background-color: transparent"></div>

			<div class='bg-slate-100 p-10 rounded-xl shadow-lg md:text-xl'>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th style="width: 50%">Description</th>
							<th>Technologies</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class='flex gap-2 items-center'>
								<img alt="Icon of Rainbowfy" :src="imgSrc['rainbowfy']" />
								<a href="https://gitlab.com/BeBel42/rainbowfy">Rainbowfy</a>
							</td>
							<td>Outputs the standard input in a rainbow-like color palette.</td>
							<td>C++</td>
						</tr>
						<tr>
							<td class='flex gap-2 items-center'>
								<img alt="Icon of Ready Set Boole" :src="imgSrc['readySetBoole']" />
								<a href="https://gitlab.com/BeBel42/ready-set-boole">Ready Set Boole</a>
							</td>
							<td>
								Exercises to train my boolean algebra, math skills and learn about
								sets and space-filling curves.
							</td>
							<td>C++</td>
						</tr>
						<tr>
							<td class='flex gap-2 items-center'>
								<img alt="Icon of k69s" :src="imgSrc['k69s']" />
								<a href="https://gitlab.com/k69s-group">k69s</a>
							</td>
							<td>
								Bare metal, decentralized kubernetes cluster. Where I self host my
								websites.
							</td>
							<td>Kubernetes, Docker, Bash, Wireguard, Gitlab,ArgoCD</td>
						</tr>
						<tr>
							<td class='flex gap-2 items-center'>
								<img alt="Icon of N-Puzzle" :src="imgSrc['nPuzzle']" />
								<a href="https://n-puzzle.mlefevre.xyz/">N-Puzzle</a>
							</td>
							<td>
								A program that solves the <a href="https://en.wikipedia.org/wiki/15_puzzle">Jeu de
									Taquin</a> as efficiently as possible.
							</td>
							<td>C++, PHP</td>
						</tr>
						<tr>
							<td class='flex gap-2 items-center'>
								<img alt="Icon of Red Tetris" :src="imgSrc['redTetris']" />
								<a href="https://red-tetris.mlefevre.xyz/">Red Tetris</a>
							</td>
							<td>
								Simple website to play Tetris alone or with friends.
							</td>
							<td>React.js, Redux.js, Express.js</td>
						</tr>
						<tr>
							<td class='flex gap-2 items-center'>
								<img alt="Icon of mlefevre.xyz" :src="imgSrc['mlefevre']" />
								<a href="https://mlefevre.xyz">About Me</a>
							</td>
							<td>
								Portfolio website to talk about my life and career.
							</td>
							<td>Vue.js, Nuxt, Tailwind CSS</td>
						</tr>
					</tbody>
				</table>
			</div>
		</FadeOpacity>
		</PlainBackground>
	</div>
</template>

<style scoped>
a:hover {
	text-decoration: underline;
}

div.underline {
	border-bottom: 2px solid;
	border-image: linear-gradient(to right,
			#559BD900 10%,
			#559BD9FF 50%,
			#559BD900 90%) 30;
}

table {
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 100%;
	table-layout: fixed;
	border-radius: 5px;
}

table caption {
	text-align: left;
}

td,
th {
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	padding: 20px;
}

td>img {
	height: 1em;
}

thead {
	border-bottom: 1px solid gray;
}

tbody tr:nth-child(even) {
	background-color: #ddeeffaa;
}

td>img {
	padding-right: 7px;
}

@media only screen and (max-width: 750px) {

	td,
	th {
		padding: 5px;
	}

	tr {
		padding: 20px;
	}

	table,
	thead,
	tbody,
	th,
	td:not(.flex),
	tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		position: relative;
		/* padding-left: 0%; */
	}

	thead {
		border-bottom: 0px solid gray;
	}
}
</style>
