<script setup lang="ts">
const degrees = [
	{
		imageUrl: '/images/cloud-practitioner.webp',
		title: 'AWS Cloud Practitioner',
		issuer: 'Amazon',
		url: 'https://aws.amazon.com/certification/certified-cloud-practitioner/',
	},
	{
		imageUrl: '/images/jury-central.webp',
		title: 'Basic Management Degree',
		issuer: 'Belgian Jury Central',
		url: 'https://economie.wallonie.be/jury-central',
	},
	{
		imageUrl: '/images/developer-associate.webp',
		title: 'AWS Developer Associate',
		issuer: 'Amazon',
		url: 'https://aws.amazon.com/certification/certified-developer-associate/',
	},
];
</script>


<template>
	<PageTitle>Degrees</PageTitle>
	<FadeOpacity>
		<div class='flex justify-evenly flex-wrap gap-10 gap-y-15'>
			<template v-for="(degree, i) in degrees" :key="i">
				<Diploma :imageUrl="degree.imageUrl" :title="degree.title" :issuer="degree.issuer" :url='degree.url' />
			</template>
		</div>
	</FadeOpacity>
</template>

<style scoped></style>
