<script setup lang='ts'>
type Props = {
	imageUrl: string;
	title: string;
	issuer: string;
	url: string;
};
const props = defineProps<Props>();

const imageAlt = computed(() => `Image for the ${props.title} degree`);
</script>

<template>
	<div class='w-full sm:w-fit'>
		<NuxtLink :to="props.url" external>
			<div class='bg-slate-100/75 p-10 sm:rounded-4xl shadow-lg hover:shadow-xl
					   transition hover:border-teal-400 border-teal-100 border-1
					   hover:bg-slate-100 active:shadow-lg duration-300
					   '>
				<div class='flex flex-col items-center gap-1'>
					<div class='mb-4'>
						<NuxtImg :src="props.imageUrl" height='150' :alt='imageAlt' />
					</div>
					<div class='text-xl font-medium'>
						{{ props.title }}
					</div>
					<div>{{ props.issuer }}</div>
				</div>
			</div>
		</NuxtLink>
	</div>
</template>


<style scoped>
a,
a:hover,
a:visited,
a:active {
	color: inherit;
	text-decoration: none;
}
</style>
