
<script setup lang="ts">
const paragraphs = [
	{
		imageUrl: "/images/19.webp",
		imageAlt: "Logo of Campus 19",
		title: "19 Coding School",
		slotName: "s19",
	},
];
</script>


<template>
	<PageTitle>Studies</PageTitle>
	<ParagraphList :paragraphs="paragraphs">
		<template #s19>
			<BubbleContent :links="[
				{ content: 'School Website', to: 'https://campus19.be/' },
				{ content: '42 Network', to: 'https://en.wikipedia.org/wiki/42_(school)' },
			]">
				<div class='mb-2'>Sep 2021 - Jun 2025</div>
				<div>
					At Campus 19, part of the <a href='https://en.wikipedia.org/wiki/42_(school)'>42 network</a>, I've
					spent
					four years mastering C, C++, system administration, cloud computing with AWS, and web development
					through collaborative, hands-on projects.
					The peer-learning approach, including numerous group projects, has equipped me with both technical
					skills and problem-solving abilities, preparing me for the tech industry's dynamic challenges.
				</div>
			</BubbleContent>
		</template>
	</ParagraphList>
</template>

<style scoped>
a:hover {
	text-decoration: underline;
}
</style>
