<script setup lang='ts'>
type Props = {
	links: Array<{
		content: string;
		to: string;
	}>;
	tags?: Array<{
		name: string;
		to: string;
	}>;
};
const props = defineProps<Props>();
</script>

<template>

	<div class='flex flex-col gap-5'>


		<p>
			<slot></slot>
		</p>





		<div class='flex gap-4'>
			<template v-for="(link, i) in props.links" :key="i">
				<UnderlineBtn :to="link.to">{{ link.content }}</UnderlineBtn>
			</template>
		</div>


		<template v-if="props.tags"> <div class='flex gap-4 gap-y-8 text-sm mt-2 flex-wrap'>
			<template v-for="(tag, i) in props.tags" :key="i">
				<NuxtLink :to="tag.to" external>
					<span
						class='bg-slate-200/25 transition hover:bg-slate-200 active:shadow-sm shadow-md py-2 px-3 rounded-lg'>
						{{ tag.name }}
					</span>
				</NuxtLink>
			</template>
	</div>
		</template>

	</div>


</template>


<style scoped></style>
