<script setup lang='ts'>
</script>

<template>
	<h2 class='text-center mb-20 great-vibes-regular text-4xl opacity-90'>
		<slot/>
	</h2>
</template>



<style scoped>
/* Import fancy font for title */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.great-vibes-regular {
	font-family: "Merienda", serif;
	font-weight: 400;
	font-style: normal;
}
</style>
