<script setup lang="ts">
const cols = 8;
const btnCount = 5;
let styles = [];

let colIt = cols;
let rowIt = cols;
for (let i = 0; i < btnCount; i++) {
	if (i !== btnCount - 1) {
		if (colIt === rowIt) {
			colIt /= 2;
		}
		else {
			rowIt /= 2;
		}
	}
	styles.push({ "grid-column": `span ${colIt}`, "grid-row": `span ${rowIt}` });
}


const store = useGlobalStore();

const btns = computed(() => {
	const martinImg = "/images/martin-no-bg.webp";
	const bebelImg = "/images/transparent-lineless.webp";

	return [
		{
			to: '/projects',
			content: 'Projects',
			external: false,
			imageUrl: '/images/projects-vector.webp',
		},
		{
			to: '/contact',
			content: 'Contact',
			external: false,
			imageUrl: '/images/contact-vector.webp',
		},
		{
			to: '/education',
			content: 'Education',
			external: false,
			imageUrl: '/images/education-vector.webp',
		},
		{
			to: 'https://rxresu.me/mlefevre/software-developer-en',
			content: 'Resume',
			external: true,
			imageUrl: '/images/resume-vector.webp',
		},
		{
			to: null,
			content: store.isMartin ? "BeBel42" : "Martin",
			external: true,
			imageUrl: store.isMartin ? bebelImg : martinImg,
		},
	]
});
</script>

<template>
	<div class='gr xl:grid flex flex-col gap-5'>
		<template v-for="(style, i) in styles" :key="i">
			<div :style='style'>
				<BentoButton v-bind="btns[i]" />
			</div>
		</template>
	</div>
</template>

<style scoped>
.gr {
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
}


.g0 {
	grid-column: span 4;
	grid-row: span 8;
}

.g1 {
	grid-column: span 4;
	grid-row: span 4;
}

.g2 {
	grid-column: span 2;
	grid-row: span 4;
}

.g3 {
	grid-column: span 2;
	grid-row: span 2;
}

.g4 {
	grid-column: span 2;
	grid-row: span 2;
}
</style>
