<template>
	<PageTitle>Contact</PageTitle>
	<PlainBackground>
		<nav class='grid grid-cols-2 gap-10'>

			<div class='col-span-2'>
				<ContactButton content="Gitlab" icon="fa-brands:gitlab" iconColor="text-orange-500"
					borderColor="border-orange-500" to="https://gitlab.com/BeBel42"
					backgroundUrl="/images/bg-gitlab.webp" />
			</div>


			<div class='col-span-2 xl:col-span-1'>
				<ContactButton content="Discord" icon="fa-brands:discord" iconColor="text-indigo-500"
					borderColor="border-indigo-500" to="https://discordapp.com/users/559809800221884437"
					backgroundUrl="/images/bg-discord.webp" />
			</div>

			<div class='col-span-2 xl:col-span-1'>
				<ContactButton content="Email" icon="fa6-solid:envelope" iconColor="text-blue-500"
					borderColor="border-blue-500" to="mailto:contat@mlefevre.xyz"
					backgroundUrl="/images/bg-thunderbird.webp" />
			</div>


			<div class='col-span-2'>
				<ContactButton content="LinkedIn" icon="fa-brands:linkedin" iconColor="text-sky-500"
					borderColor="border-sky-500" to="https://www.linkedin.com/in/lefevre-martin/"
					backgroundUrl="/images/bg-linkedin.webp" />
			</div>
		</nav>
	</PlainBackground>
</template>

<script setup lang="ts">
</script>

<style scoped></style>
