<template>
	<div class='flex flex-col xl:flex-row items-center xl:space-between gap-30 md:mt-10'>
		<NuxtImg class='w-400 h-150 absolute opacity-70 invisible md:visible' src="/images/home-stain.webp" />
		<ProfilePicture />
		<FadeOpacity>
			<FadeRight>
				<div class='flex flex-col gap-5 mx-10 xl:mx-0'>
					<h1 style="color: #5079a9" class='text-6xl font-bold great-vibes-regular'>About Me</h1>
					<h2 class='text-3xl'>
						Where I put my experience, learning path and projects on
						topics related to programming and technology.
					</h2>
				</div>
			</FadeRight>

		</FadeOpacity>
	</div>
	<br class='my-10'>

	<BentoGrid />
</template>

<script setup lang="ts">
</script>


<style scoped>
/* Import fancy font for title */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.great-vibes-regular {
	font-family: "Merienda", serif;
	font-weight: 400;
	font-style: normal;
}
</style>
