<template>
	<PageTitle>Projects</PageTitle>
	<ParagraphList :paragraphs="paragraphs">
		<template #protein-viewer>
			<BubbleContent :links="[
				{ content: 'Source Code', to: 'https://gitlab.com/pvanderl/swifty-protein' },
				{ content: 'Download APK', to: 'https://gitlab.com/pvanderl/swifty-protein/-/artifacts' },
			]" :tags="[
				{ name: 'Flutter', to: 'https://flutter.dev/' },
				{ name: 'CIF', to: 'https://en.wikipedia.org/wiki/Crystallographic_Information_File' },
				{ name: '3D', to: 'https://en.wikipedia.org/wiki/3D_computer_graphics' },
			]">
				A mobile application designed to visualize and interact with 3D ligands (proteins) in
				an intuitive and user-friendly manner.
				This app was created as the final project for <NuxtLink to='https://campus19.be/' external>Campus 19
				</NuxtLink>
				(<NuxtLink to='https://www.francecompetences.fr/recherche/rncp/36135/' external>RNCP Level 6
				</NuxtLink>) in the <NuxtLink
					to='https://42.fr/en/42-in-paris/computer-science-degree/it-solutions-designer-developer/' external>
					42 Network</NuxtLink>.
			</BubbleContent>
		</template>
		<template #camagru>
			<BubbleContent :links="[
				{ content: 'Website', to: 'https://camagru.mlefevre.xyz' },
				{ content: 'Source Code', to: 'https://gitlab.com/BeBel42/camagru' },
			]" :tags="[
				{ name: 'PHP', to: 'https://www.php.net/' },
				{ name: 'Bootstrap', to: 'https://getbootstrap.com/' },
				{ name: 'SASS', to: 'https://sass-lang.com/' },
				{ name: 'SQL', to: 'https://en.wikipedia.org/wiki/SQL' },
			]">
				A social media platform where users can share pictures, add stickers, like, and comment on posts. Built
				with an emphasis on security. The project adheres to <NuxtLink
					to='https://gitlab.com/BeBel42/camagru/-/blob/main/en.subject.pdf?ref_type=heads' external>school
					guidelines </NuxtLink> by using vanilla PHP and JavaScript.
			</BubbleContent>
		</template>
		<template #http-dragons>
			<BubbleContent :links="[
				{ content: 'Website', to: 'https://httpdragons.com' },
				{ content: 'Source Code', to: 'https://gitlab.com/BeBel42/httpdragons' },
			]" :tags="[
				{ name: 'PHP', to: 'https://www.php.net/' },
				{ name: 'SEO', to: 'https://en.wikipedia.org/wiki/Search_engine_optimization' },
				{ name: 'API', to: 'https://en.wikipedia.org/wiki/API' },
			]">
				A website API for viewing and uploading dragon images, each tied to a specific HTTP code. This project
				was my starting point for learning PHP. It has over 5,000 unique visitors and is optimized for SEO and
				user experience
			</BubbleContent>
		</template>
		<template #minishell>
			<BubbleContent
				:links="[{ content: 'Source Code', to: 'https://github.com/davidszkl/42_school/tree/master/common_core/Minishell' }]"
				:tags="[
					{ name: 'C', to: 'https://en.wikipedia.org/wiki/C_(programming_language)' },
					{ name: 'UNIX', to: 'https://en.wikipedia.org/wiki/Unix' },
					{ name: 'Bash', to: 'https://www.gnu.org/software/bash/' },
				]">
				A group project in C, that aims to create a simplified version of <a
					href="https://www.gnu.org/software/bash/">Bash</a>. Collaborating with my friend, <a
					href="https://www.linkedin.com/in/david-szklarzewski/"> Davidszkl</a>, we learned essential UNIX
				concepts such as pipes, processes, and more.
			</BubbleContent>
		</template>
		<template #webserv>
			<BubbleContent
				:links="[{ content: 'Source Code', to: 'https://github.com/davidszkl/42_school/tree/master/common_core/Webserv' }]"
				:tags="[
					{ name: 'C++', to: 'https://en.wikipedia.org/wiki/C++' },
					{ name: 'HTTP', to: 'https://en.wikipedia.org/wiki/HTTP' },
					{ name: 'Socket Programming', to: 'https://en.wikipedia.org/wiki/https://www.geeksforgeeks.org/socket-programming-in-cpp/' },
				]">
				A group project with <a href="https://www.linkedin.com/in/david-szklarzewski/"> Davidszkl</a>. Our
				objective was to recreate a simplified version of <a href="https://nginx.org/en/"> NGINX</a> in C++.
				That project taught us socket programming, the HTTP protocol, and browser-server interactions.
			</BubbleContent>
		</template>
	</ParagraphList>
	<OtherProjects />
</template>

<script setup lang="ts">
const paragraphs = [
	{
		imageUrl: "/images/protein-viewer.webp",
		imageAlt: "Screenshots of the  Protein Viewer app",
		title: "Protein Viewer",
		slotName: "protein-viewer",
	},
	{
		imageUrl: "/images/camagru.webp",
		imageAlt: "Post made on Camagru",
		title: "Camagru",
		slotName: "camagru",
	},
	{
		imageUrl: "/images/http-dragons.webp",
		imageAlt: "Homepage of HTTP Dragons",
		title: "HTTP Dragons",
		slotName: "http-dragons",
	},
	{
		imageUrl: "/images/webserv-screenshot.webp",
		imageAlt: "Autoindex page served by Webserv",
		title: "Webserv",
		slotName: "webserv",
	},
	{
		imageUrl: "/images/minishell.webp",
		imageAlt: "Some of the possible commands in minishell",
		title: "Minishell",
		slotName: "minishell",
	},
];
</script>

<style scoped>
a:hover {
	text-decoration: underline;
}
</style>
