<script setup lang='ts'>
type Props = {
	jobTitle: string;
	jobType: string;
	jobDate: string;
	jobLocation: string;
};
const props = defineProps<Props>();
</script>

<template>
	<div class='flex justify-between mb-4'>
		<div>
			<div>{{ props.jobTitle }} </div>
			<div>{{ props.jobType }} </div>
		</div>
		<div class='text-right'>
			<div>{{ props.jobDate }} </div>
			<div>{{ props.jobLocation }} </div>
		</div>
	</div>
	<div>
		<slot></slot>
	</div>
</template>


<style scoped></style>
