<script setup lang="ts">
const paragraphs = [
	{
		imageUrl: "/images/knx.webp",
		imageAlt: "Logo of KNX Automation",
		title: "KNX Automation",
		slotName: "knx",
	},
	{
		imageUrl: "/images/gbl.webp",
		imageAlt: "Logo of Groupe Bruxelles Lambert",
		title: "Groupe Bruxelles Lambert",
		slotName: "gbl",
	},
];
</script>


<template>
	<PageTitle>Professional Experience</PageTitle>
	<ParagraphList :paragraphs="paragraphs">
		<template #gbl>
			<BubbleContent :links="[
				{ content: 'Company Website', to: 'https://www.gbl.com/en' },
			]" :tags="[
				{ name: 'Python', to: 'https://www.python.org/' },
				{ name: 'Express.js', to: 'https://expressjs.com/' },
				{ name: 'Bloomberg', to: 'https://www.bloomberg.com/europe' },
				{ name: 'Microsoft', to: 'https://www.microsoft.com/fr-be/' },
				{ name: 'SQL', to: 'https://en.wikipedia.org/wiki/SQL' },
			]">
				<JobBubble jobTitle="Software Developer" jobType="Full-Time internship" jobDate="Sep 2022 – Feb 2023"
					jobLocation="Brussels - Belgium">
					Developed Python and JavaScript skills while using Microsoft Graph for centralized security data
					management and Bloomberg Hypermedia APIs. Learned and utilized SQL through private courses. Gained
					insights into the investing industry and technology's role in decision-making.
				</JobBubble>
			</BubbleContent>
		</template>
		<template #knx>
			<BubbleContent :links="[
				{ content: 'Company Website', to: 'https://knx-automation.com/' },
			]" :tags="[
				{ name: 'React.js', to: 'https://react.dev/' },
				{ name: 'Express.js', to: 'https://expressjs.com/' },
				{ name: 'MongoDB', to: 'https://www.mongodb.com/' },
				{ name: 'AWS', to: 'https://aws.amazon.com/' },
			]">
				<JobBubble jobTitle="Web Developer" jobType="Full-Time internship" jobDate="Feb 2024 – Jul 2025"
					jobLocation="Liège - Belgium">
					Developed a React website for automating KNX projects and reports. Implemented CI/CD processes using
					Docker and NGINX, automated SSL generation with Let's Encrypt, and managed MongoDB backups on AWS
					S3. Gained experience in remote work, enhancing self-discipline and communication skills.
				</JobBubble>
			</BubbleContent>
		</template>
	</ParagraphList>
</template>

<style scoped>
a:hover {
	text-decoration: underline;
}
</style>
