<script setup lang="ts">
import Position from "./Position";

type Props = {
	paragraphs: Array<{
		title: string;
		imageUrl: string;
		imageAlt: string;
		slotName: string;
	}>;
};
const props = defineProps<Props>();
</script>

<template>
	<PlainBackground>
	<div
		class='flex flex-col gap-15'>
		<div v-for="(paragraph, index) in props.paragraphs" :key="index">
			<Paragraph :textPosition="index % 2 ? Position.Left : Position.Right" :title="paragraph.title"
				:imageUrl="paragraph.imageUrl" :imageAlt="paragraph.imageAlt">
				<template #content>
					<slot :name="paragraph.slotName"></slot>
				</template>
			</Paragraph>
		</div>
	</div>
	</PlainBackground>
</template>
