<script setup lang="ts">
// get pinia data
import { useGlobalStore } from "@/stores/global";
const store = useGlobalStore();

// use router query string
const router = useRouter();
const profile = computed(() => router.currentRoute.value.query?.profile);

// what to do on url change
watch(
	profile,
	(a, b) => {
		// if no more profile set, set it back
		if (profile.value === undefined) {
			const hash = router.currentRoute.value.hash;
			return router.replace({
				query: {
					profile: store.isMartin ? "Martin" : "BeBel42",
				},
				hash,
			});
		}

		// set isMartin to correct value on first watch run
		if (b === undefined) {
			store.isMartin = profile.value !== "BeBel42";
		}
	},
	{ immediate: true },
);

// if isMartin changes, change url
watch(store, () => {
	const hash = router.currentRoute.value.hash;
	router.replace({
		query: {
			profile: store.isMartin ? "Martin" : "BeBel42",
		},
		hash,
	});
});
</script>

<template>
	<div>

		<Head>
			<Title>About Me</Title>
			<Meta name=" description" content="All about Martin Lefèvre (BeBel42)" />
			<!-- <Meta name="darkreader-lock" content="" /> -->
		</Head>

		<div class="bg-gradient-to-br from-gray-300 via-indigo-200 to-teal-100">
			<div class="content-container flex direction">
		<NavBar />
		<div class="mx-auto my-30 container">
				<slot></slot>
		</div>
			</div>
		</div>
	</div>
</template>

<style scoped>
.content-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
</style>

<style>
/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* global css */
a:link {
	color: #559BD9;
}

a:visited {
	color: #5079a9;
}

body {
	color: #333;
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;

	line-height: 1.6;
	font-family: "Inter", "Liberation Sans", "Fira Sans", sans-serif;
	margin: 0px;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}
</style>
