<script setup lang='ts'>
</script>

<template>
	<div
		class='bg-slate-100/75 p-10 md:p-20 sm:rounded-2xl border-1 border-teal-100 hover:border-teal-400 transition duration-400 flex flex-col gap-15'>
		<slot></slot>
	</div>
</template>


<style scoped></style>
